<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">

                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>제목</th>
                            <th>내용</th>
                            <th>작성자</th>
                            <th>작성일자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="boardList : ${boardList}">
                            <td th:text="${boardList.writer}">emil</td>
                            <td th:text="${boardList.title}">name</td>
                            <td th:text="${boardList.content}">stat</td>
                            <td th:text="${boardList.createdDate}">super</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a th:href="@{/board/post}">글쓰기</a>
    </div>
    <!-- /.container-fluid -->
    <!-- DataTable -->
</th:block>

</html>