<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.kang.blog.demo.mapper.DemoMapper">
    <select id="selectList" resultType="com.kang.blog.demo.dto.DemoDto" parameterType="String">
        SELECT *
        FROM board
        Where title = #{title}
    </select>
</mapper>